* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    width: 100%;
    background-color: rgb(104, 205, 213);
    color: #ffffff;
    font-family: "Arial";
    font-size: 14px;
}

.back {
    display: block;
    margin: 4vw 4vw;
    width: 27.5px;
    height: 27px;

}

.logo {
    text-align: center;
}

.logo img {
    width: 122px;
    height: 35px;
}

.content {
    margin: 20vw 15vw;
    /*font-size: 1.2em;*/
    line-height: 1.5em;
    text-align: left;
    letter-spacing: 1.5px;

}

.icon {

    text-align: center;
    margin-bottom: 30vw;

    font-size: 12px;
}

.icon img {
    width: 54px;
    height: 54px;
    margin: 3px;
}

.left, .right {
    /*display: inline-block;*/
    float: left;
    width: 40%;
}
.left{
    margin-left: 10%;
}
.right{
    margin-right: 10%;
}

.word {

}
